<footer id="colophon" class="site-footer cms-footer1">
				<div id="cms-footer-top">
					<div class="container">
						<div class="row">
							<div class="cms-footer-top-item text-center col-lg-3 col-md-3 col-sm-12 col-xs-12">
								<h3 class="ft-heading">Our address</h3>
								<p>22 Alnahas Building, 2 AlBahr St, Tanta<br />Al-Gharbia Governorate, Egypt</p>
								<a href="http://7oroof.com/tfdemos/wp-granny/?page_id=70" class="btn-text">View On Map</a>
							</div>
							<div class="cms-footer-top-item text-center col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<div class="ft-reservation">
									<h3>Make A Reservation</h3>
									<div class="ft-reservation-holder">
										<ul>
											<li>Week days <span>09.00 – 24:00</span></li>
											<li>Saturday <span>08:00 – 03.00</span></li>
											<li>Sunday <span>Day off</span></li>
										</ul>
										<span class="btn btn-primary-alt btn-find-table">Find A Table</span>
									</div>
								</div>
							</div>
							<div class="cms-footer-top-item text-center col-lg-3 col-md-3 col-sm-12 col-xs-12">
								<h3 class="ft-heading">Contact us</h3>
								<p>Main Email: 7oroof@7oroof.com<br />Phone: 02 01065370701</p>
								<a href="http://7oroof.com/tfdemos/wp-granny/?page_id=70" class="btn-text">Send A Message</a>
							</div>
						</div>
					</div>
				</div>
				<div id="cms-footer-minimal">
					<div class="container">
						<div class="row">
							<div class="cms-footer-minimal-item text-right text-center-xs col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<ul class="footer-social">
									<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
									<li><a href="#"><i class="fa fa-tripadvisor"></i></a></li>
								</ul>
							</div>
							<div class="cms-footer-minimal-item text-center-xs col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<aside id="newsletterwidget-4" class="widget widget_newsletterwidget">
									<div class="tnp tnp-widget">
										<form method="post" action="http://7oroof.com/tfdemos/wp-granny/?na=s" onsubmit="return newsletter_check(this)">
											<input type="hidden" name="nr" value="widget"><input type='hidden' name='nl[]' value='0'>
											<div class="tnp-field tnp-field-email"><label>Email</label><input class="tnp-email" type="email" name="ne" required></div>
											<div class="tnp-field tnp-field-button"><input class="tnp-submit" type="submit" value="Subscribe"></div>
										</form>
									</div>
								</aside>
							</div>
						</div>
					</div>
				</div>
				<div id="cms-footer-bottom">
					<div class="container">
						<div class="row">
							<div class="cms-footer-bottom-item text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="cms-copyright"> © 2017 Granny With Love by <a href="http://themeforest.net/user/7oroof/portfolio?ref=7oroof">7oroof</a> </div>
							</div>
						</div>
					</div>
				</div>
			</footer>